<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

      <div class="col-sm-8 reviews">
        <table class="table table-bordered">
          <thead>

          <% if current_user %>
            <tr>
              <th colspan="3">
                <%= form_for [@product, @review] do |form| %>

                  <% if form.object.errors.any? %>
                    <div class="alert alert-danger">
                      <strong>The following errors prevented saving:</strong>
                      <ul>
                        <% form.object.errors.full_messages.each do |error| %>
                          <li><%= error %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="form-group">
                    <%= form.label :review %>
                    <%= form.text_field :description, class: 'form-control', placeholder: 'Let us know what you think' %>
                  </div>
                  <div class="form-group">
                    <%= form.label :rating %>
                    <%= form.select(:rating) do %>
                      <% [5, 4, 3, 2, 1].each do |c| -%>
                        <%= content_tag(:option, c, value: c) %>
                      <% end %>
                    <% end %>
                  </div>
                  <%= form.submit 'Submit', class: 'btn btn-primary' %>
                <% end %>
              </th>
            </tr>
          <% end %>

          <% if @product.review.count === 0 %>
            <tr>
              <th>
                <h4>Be the first person to review this product!</h4>
              </th>
            </tr>
          </thead>
          <% else %>
            <tr>
              <th>Users</th>
              <th>Reviews</th>
              <th>Ratings</th>
            </tr>
          <% end %>
          </thead>
          <tbody>
            <% @product.review.order(created_at: :desc).each do |review| %>
              <%= render 'reviews/review', review: review %>
            <% end %>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>

    </div>

  </article>

</section>
