<section class="products-show">

  <header class="page-header">
    <h1>
      <%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %>
    </h1>
    <h4>
      <% if @product.reviews.count === 0 %>
        <% 5.times do %>
          <%= fa_icon('star-o') %>
        <% end %>
      <% else %>
        <% average = @product.reviews.sum(:rating) / @product.reviews.count %>
        <% average.times do %>
          <%= fa_icon('star') %>
        <% end %>
        <% (5 - average).times do %>
          <%= fa_icon('star-o') %>
        <% end %>
      <% end %>
    </h4>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

      <div class="col-sm-8 product-reviews">
        <table class="table table-bordered">
          <thead>

            <% if current_user %>
              <tr>
                <th colspan="3">
                    <%= form_for [@product, @review] do |form| %>

                      <% if form.object.errors.any? %>
                        <div class="alert alert-danger">
                          <strong>The following errors prevented saving:</strong>
                          <ul>
                            <% form.object.errors.full_messages.each do |error| %>
                              <li><%= error %></li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <h4>Write A Review</h4>

                      <div class="form-group">
                        <%= form.text_area :description, class: 'form-control', placeholder: 'Let us know what you think' %>
                      </div>
                      <div class="form-group">
                        <%= form.label :rating %>
                        <%= form.select :rating, options_for_select(1..5), { include_blank: 'Select rate' }, class: 'form-control' %>
                      </div>

                      <%= form.submit 'Submit', class: 'btn btn-primary' %>
                    <% end %>
                </th>
              </tr>
            <% end %>
            <h3>Reviews</h3>

            <tr>
              <% if @product.reviews.count === 0 && current_user %>
                <th>
                  <h4>Be the first person to review this product!</h4>
                </th>
              <% elsif @product.reviews.count === 0 %>
                <th>
                  <h4>Please login to review this product!</h4>
                </th>
              <% else %>
                <th>Users</th>
                <th>Descriptions</th>
                <th>Ratings</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @product.reviews.order(created_at: :desc).each do |review| %>
              <%= render 'reviews/review', review: review %>
            <% end %>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>

    </div>

  </article>

</section>
