<tr>
  <td>
    <%= review.user.first_name %> <%= review.user.last_name %>
  </td>
  <td>
    <%= review.description %>
  </td>
  <td>
    <%= review.rating %>
    <% if current_user && current_user.id === review.user_id %>
      <%= link_to review, data: {:confirm => 'Are you sure?'}, class: 'btn btn-xs btn-danger', :method => :delete do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </td>
</tr>
